############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr

############################
# Build / Output
############################
out/
target/
build/

############################
# Tomcat / SmartTomcat
############################
smarttomcat/
tomcat/
logs/
work/
temp/

############################
# Libraries (External JARs)
############################
libs/

############################
# Maven / Gradle
############################
.mvn/
.gradle/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Compiled Java
############################
*.class

############################
# Environment / Config
############################
*.env
db.properties
application.properties

############################
# Logs
############################
*.log
